<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<!-- <img class="" src="./frames/f1.jpg" > -->
		<img class="" src="./images/bg.jpg" inline>
		<img class="t1a" src="./images/t1a.png" inline>
		<img class="t1b" src="./images/t1b.png" inline>
		<!-- <img class="t1c" src="./images/t1c.png" inline> -->
	</div>
	<div class="frame frame2">		
		<!-- <img class="" src="./frames/f2.jpg" > -->
		<div id="bg-grey"></div>
		<div id="icon-1" class="icon">
			<img class="icon-left" src="./images/icon-1.png" inline>
			<img class="icon-right" src="./images/icon-1.png" inline>
		</div>
		<div id="icon-2" class="icon">
			<img class="icon-left" src="./images/icon-2.png" inline>
			<img class="icon-right" src="./images/icon-2.png" inline>
		</div>
		<div id="icon-3" class="icon">
			<img class="icon-left" src="./images/icon-3.png" inline>
			<img class="icon-right" src="./images/icon-3.png" inline>
		</div>
		<div id="icon-4" class="icon">
			<img class="icon-left" src="./images/icon-4.png" inline>
			<img class="icon-right" src="./images/icon-4.png" inline>
		</div>
		
		<div id="bg-white"></div>
		
		<div id="t2a" class="t2"><img class="" src="./images/t2a.png" inline></div>
		<!-- <div id="t2b" class="t2"><img class="" src="./images/t2b.png" inline></div> -->
		<!-- <div id="t2c" class="t2"><img class="" src="./images/t2c.png" inline></div> -->

		<div id="t3" class="t3"><img class="" src="./images/t3.png" inline></div>
	</div>

	<div class="frame frame3">		
		<!-- <img class="" src="./frames/f4.jpg" > -->
		
		<img class="logo" src="./images/logo.png" inline>
		<img class="t4" src="./images/t4.png" inline>
		<img class="cta" src="./images/cta.png" inline>
	</div>
</div>