@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.frame2 {
	// opacity: 1;
	#icon-1{ @include pos(-16, 54); }
	#icon-2{ @include pos(-100, 169); }
	#icon-3{ @include pos(-20, 800); }
	#icon-4{ @include pos(-74, 950); }
	
	img.icon-right {
		transform: translate(100%, -100%);
	}

	.icon{
		width: 999px;
		opacity: .5;
	}
	.icon img{
		position: relative;
		display: inline;
		// @include pos-scale($w+70, 0, .5);		
	}

	#bg-grey{ 
		@include pos(0, 0);		
		width: 100%;
		height: 100%;
		background-color: #ebebeb;
		
	}

	#bg-white{ 
		width: 100%;
		height: 501px;
		@include pos(0, 275);
		background-color:white;
	}

}

.frame3 {
	// opacity: 1;
}

#banner{	
	width: 1920px;
	height: 1080px;
	// overflow: visible;
}

